{% extends 'index.html' %}

{% block content %}

<div class="w-full h-full bg-white rounded-lg">

    <!-- TITLE -->

    <div class="flex justify-between mx-12 mt-4 pt-6">
        <h3 class="font-bold bg-gray-200 px-4 rounded-lg py-1 ml-48">
          Add User
        </h3>
        <!-- <a href="#" class="border border-stone-950 rounded-lg px-4 py-1 dropshadow text-zinc-900 font-medium hover:bg-black hover:text-white">Add Volunteer</a> -->
    </div>

    <!-- TABLE STARTS -->
   
     
    


<div class="table w-full mt-4">
    <form class="w-full flex flex-wrap gap-4 justify-center mt-10 " action="">
        <input class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']" type="text" placeholder="Name">
        <input class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']" type="number" placeholder="Contact Number">
        <input class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']" type="text" placeholder="State">
        <input class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']" type="email" placeholder="Email">
        <input class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']" type="text" placeholder="Location">
        <input class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']" type="password" placeholder="Password">
        <input class="border rounded-lg w-[500px] h-10 outline-none px-4 bg-gray-600 text-white font-medium cursor-pointer hover:bg-gray-600/80" type="submit" value="Add">
    </form>
   
</div>


    


    
</div>



{% endblock content %}