{% extends 'index.html' %}

{% block content %}

<div class="w-full h-full bg-white rounded-lg">

    <!-- TITLE -->

    <div class="flex justify-between mx-12 pt-6">
        <h3 class="font-bold">
            Users
        </h3>
        <a href="{% url 'add-user' %}" class="border border-stone-950  rounded-lg px-4 py-1 dropshadow text-zinc-900 font-medium  hover:bg-black hover:text-white">Add user</a>
    </div>

    <!-- TABLE STARTS -->
   
     
    


<table class="table w-full mt-4">
    <!-- TABLE HEAD -->
    <thead class="table-head bg-amber-500 h-10 ">
        <tr class="bg-gray-400 ">
            <th>#</th>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Location</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>

    <!-- TABLE HEAD ENDS -->
    
    <!-- TABLE BODY -->
    <tbody >
        <!-- ITEM -->
        <tr class="bg-gray-100 ">
            <!-- NAME -->
            <th class="py-4">1</th>
            <th class="py-4">Febin Mathew</th>
            <th class="py-4">9747990207</th>
            <th class="py-4">Kollam</th>
            <th class="py-4">Kerala</th>
            <th class="py-4">
                <a href="#" class="rounded-lg border border-green-600 px-4 py-1 bg-red mr-4 test-xs font-normal hover:bg-green-600 hover:text-white">Edit</a>
                <button class=" rounded-lg border border-red-600 px-4 py-1 hover:bg-red-600 hover:text-white text-normal">Delete</button>
            </th>
        </tr>
      
    
        <tr class="bg-gray-100 ">
            <!-- NAME -->
            <th class="py-4">1</th>
            <th class="py-4">Febin Mathew</th>
            <th class="py-4">9747990207</th>
            <th class="py-4">Kollam</th>
            <th class="py-4">Kerala</th>
            <th class="py-4">
                <a href="#" class="rounded-lg border border-green-600 px-4 py-1 bg-red mr-4 test-xs font-normal hover:bg-green-600 hover:text-white">Edit</a>
                <button class=" rounded-lg border border-red-600 px-4 py-1 hover:bg-red-600 hover:text-white text-normal">Delete</button>
            </th>
        </tr>
      
    
        <tr class="bg-gray-100 ">
            <!-- NAME -->
            <th class="py-4">1</th>
            <th class="py-4">Febin Mathew</th>
            <th class="py-4">9747990207</th>
            <th class="py-4">Kollam</th>
            <th class="py-4">Kerala</th>
            <th class="py-4">
                <a href="#" class="rounded-lg border border-green-600 px-4 py-1 bg-red mr-4 test-xs font-normal hover:bg-green-600 hover:text-white">Edit</a>
                <button class=" rounded-lg border border-red-600 px-4 py-1 hover:bg-red-600 hover:text-white text-normal">Delete</button>
            </th>
        </tr>
      
    
        <tr class="bg-gray-100 ">
            <!-- NAME -->
            <th class="py-4">1</th>
            <th class="py-4">Febin Mathew</th>
            <th class="py-4">9747990207</th>
            <th class="py-4">Kollam</th>
            <th class="py-4">Kerala</th>
            <th class="py-4">
                <a href="#" class="rounded-lg border border-green-600 px-4 py-1 bg-red mr-4 test-xs font-normal hover:bg-green-600 hover:text-white">Edit</a>
                <button class=" rounded-lg border border-red-600 px-4 py-1 hover:bg-red-600 hover:text-white text-normal">Delete</button>
            </th>
        </tr>
      
    
        <tr class="bg-gray-100 ">
            <!-- NAME -->
            <th class="py-4">1</th>
            <th class="py-4">Febin Mathew</th>
            <th class="py-4">9747990207</th>
            <th class="py-4">Kollam</th>
            <th class="py-4">Kerala</th>
            <th class="py-4">
                <a href="#" class="rounded-lg border border-green-600 px-4 py-1 bg-red mr-4 test-xs font-normal hover:bg-green-600 hover:text-white">Edit</a>
                <button class=" rounded-lg border border-red-600 px-4 py-1 hover:bg-red-600 hover:text-white text-normal">Delete</button>
            </th>
        </tr>
      
    
        <tr class="bg-gray-100 ">
            <!-- NAME -->
            <th class="py-4">1</th>
            <th class="py-4">Febin Mathew</th>
            <th class="py-4">9747990207</th>
            <th class="py-4">Kollam</th>
            <th class="py-4">Kerala</th>
            <th class="py-4">
                <a href="#" class="rounded-lg border border-green-600 px-4 py-1 bg-red mr-4 test-xs font-normal hover:bg-green-600 hover:text-white">Edit</a>
                <button class=" rounded-lg border border-red-600 px-4 py-1 hover:bg-red-600 hover:text-white text-normal">Delete</button>
            </th>
        </tr>
      
    
        <tr class="bg-gray-100 ">
            <!-- NAME -->
            <th class="py-4">1</th>
            <th class="py-4">Febin Mathew</th>
            <th class="py-4">9747990207</th>
            <th class="py-4">Kollam</th>
            <th class="py-4">Kerala</th>
            <th class="py-4">
                <a href="#" class="rounded-lg border border-green-600 px-4 py-1 bg-red mr-4 test-xs font-normal hover:bg-green-600 hover:text-white">Edit</a>
                <button class=" rounded-lg border border-red-600 px-4 py-1 hover:bg-red-600 hover:text-white text-normal">Delete</button>
            </th>
        </tr>
      
    
       
       
    </tbody>
    <!-- TABLE BODY ENDS -->
</table>


    


    
</div>



{% endblock content %}