{% extends 'index.html' %}

{% block content %}

<div class="w-full h-full bg-white rounded-lg">

    <!-- TITLE -->

    <div class="flex justify-between mx-12 mt-4 pt-6">
        <h3 class="font-bold bg-gray-200 px-4 rounded-lg py-1 ml-48">
          Edit Product
        </h3>
       
    </div>

    <!-- TABLE STARTS -->
   
    {% for message in messages %}
   
    <h4 class="text-red-600 font-semibold ml-60 mt-4 text-xs">{{message}}</h4>

    {% endfor %}
    


<div class="table w-full mt-4">
    <img width="200px" height="200px" class="ml-60 rounded" src="{{product.image.url}}" alt="">
    <form class="w-full flex flex-wrap gap-4 justify-center mt-10 " method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label class="font-bold text-sm opacity-70" for="title">Product Name</label> <br> <br>
        <input class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']" required name="title" type="text" placeholder="Title" value="{{product.title}}">
        </div>
        <div>
           <label class="font-bold text-sm opacity-70" for="description">Description</label><br> <br>

           <input class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']" required name="description" type="text" placeholder="Description" value="{{product.description}}">
        </div>
        <div>
            <label class="font-bold text-sm opacity-70" for="image">Image</label><br> <br>
            <input class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']" type="file" name="image" id="" >
        </div>
        <div>
            <label class="font-bold text-sm opacity-70" for="price">Price</label><br> <br>
            <input class="border rounded-lg w-[500px] h-12 outline-none px-4 mb-12 drop-shadow border']" type="number" name="price" placeholder="Price" value="{{product.price}}">
        </div>
        
        <input class="border rounded-lg w-[500px] h-10 outline-none px-4 bg-gray-600 text-white font-medium cursor-pointer hover:bg-gray-600/80" type="submit" value="Add">
    

        



       
    </form>
   
</div>


    


    
</div>



{% endblock content %}