{% extends 'home.html' %}



{% block content %}


<main class="w-full h-full mt-6 bg-white pt-12">
<div class="w-[600px] h-[100px] drop-shadow flex justify-center border border-slate-950/40 hover:border-slate-950/60 hover:border-2 rounded-xl mx-auto">
    <a href="#" class="flex items-center w-full h-full justify-center opacity-60 hover:opacity-70">
        
        <i class="text-xl font-bold  fa-solid fa-plus"></i>
        <h3 class="text-xl font-bold  ml-4"> REQUEST NEW NEEDS</h3>
        
    </a>
   
</div>
<h1 class="text-green-600 font-bold ml-12 text-xl mt-4">Active Needs</h1>
<div class="w-[1400px] min-h-[300px] border border-green-600 rounded-xl mx-auto mt-8">

</div>
<h1 class="text-amber-500 font-bold ml-12 text-xl mt-8">Recent Needs Requested by You</h1>
<div class="w-[1400px] min-h-[300px] border border-amber-500 rounded-xl mx-auto mt-8">

</div>
</main>




{% endblock content %}